body {
  font-family: "Fredoka", sans-serif;
}
.col {
  font-weight: bolder;
}
.searchP {
  display: block;
  position: relative;
  left: 100px;
}
h1 {
  font-size: small;
  margin: 10px 0 0;
  font-weight: 100;
}
ul {
  list-style: none;
  margin: 15px 0 0;
  list-style: none;
  font-size: small;
}
.city {
  font-size: 25px;
  font-weight: bolder;
}
.temperature {
  font-size: 3rem;
  margin: auto;
}
.units {
  font-weight: 400;
  position: fixed;
  text-decoration: none;
  list-style: none;
}
a:hover {
  color: aliceblue;
}
.precipitation {
  position: absolute;
  top: 150px;
  right: 20px;
  list-style: none;
  font-size: medium;
}
.card {
  display: block;
  margin: 0px;
  margin: 60px auto;
  background-color: #4c4d4e;
  border-color: #ddd;
  max-width: 600px;
  padding: 15px;
}
.emojis {
  margin: 0 0 50px;
  font-size: small;
}
body {
  color: white;
}
.card img {
  max-width: 100%;
}
.current-search {
  background-color: green;
  display: block;
  position: absolute;
  left: 350px;
  top: 33px;
}
.current-search:hover {
  cursor: pointer;
  color: orange;
  background-color: red;
}
footer {
  display: block;
  justify-content: center;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  bottom: 56px;
  right: 76px;
  color: black;
  max-width: 250px;
}
.active {
  color: white;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
